#–î–æ–º–∞—à–Ω—î –∑–∞–≤–¥–∞–Ω–Ω—è –¥–æ —Ç–µ–º apply(), groupby(), pivot_table()

–í —Ü—å–æ–º—É –¥–æ–º–∞—à–Ω—å–æ–º—É –∑–∞–≤–¥–∞–Ω–Ω—ñ –ø—Ä–æ–¥–æ–≤–∂—É—î–º–æ –ø—Ä–∞—Ü—é–≤–∞—Ç–∏ –∑ –Ω–∞–±–æ—Ä–æ–º –¥–∞–Ω–∏—Ö `supermarket_sales.csv`.

0. –Ü–º–ø–æ—Ä—Ç—É–π—Ç–µ –±—ñ–±–ª—ñ–æ—Ç–µ–∫—É pandas —Ç–∞ –∑—á–∏—Ç–∞–π—Ç–µ –¥–∞–Ω—ñ —É –∑–º—ñ–Ω–Ω—É `df` —Ç–∏–ø—É `pandas.DataFrame`.

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('../Data/supermarket_sales.csv')

1. –î–æ—Å–ª—ñ–¥–∏–º–æ, —è–∫–∏–π —Ñ—ñ–ª—ñ–∞–ª —Å—É–ø–µ—Ä–º–∞—Ä–∫–µ—Ç—É ('Branch') —î –Ω–∞–π–ø—Ä–∏–±—É—Ç–∫–æ–≤—ñ—à–∏–º. –î–ª—è —Ü—å–æ–≥–æ –∑–Ω–∞–π–¥—ñ—Ç—å —Å—É–º–∞—Ä–Ω–∏–π –ø—Ä–∏–±—É—Ç–æ–∫ –∑–∞ –∫–æ–∂–Ω–∏–º —Ñ—ñ–ª—ñ–∞–ª–æ–º —ñ –≤–∏—è–≤—ñ—Ç—å, —è–∫–∏–π —Ñ—ñ–ª—ñ–∞–ª –º–∞—î –Ω–∞–π–≤–∏—â–∏–π.

In [13]:
branches = df.groupby('Branch')
branches['gross income'].sum()

Branch
A    5057.1605
B    5057.0320
C    5265.1765
Name: gross income, dtype: float64

–í—ñ–¥–ø–æ–≤—ñ–¥—å: —Ñ—ñ–ª—ñ–∞–ª –° –º–∞—î –Ω–∞–π–≤–∏—â–∏–π —Å—É–º–∞—Ä–Ω–∏–π –ø—Ä–∏–±—É—Ç–æ–∫

2. –í —è–∫–æ–º—É –º—ñ—Å—Ç—ñ –∑–Ω–∞–π—Ö–æ–¥–∏—Ç—å—Å—è —Ñ—ñ–ª—ñ–∞–ª –∑ –Ω–∞–π–≤–∏—â–∏–º –ø—Ä–∏–±—É—Ç–∫–æ–º? –ú–æ–∂–µ –≤ —Ç–æ–º—É –º—ñ—Å—Ü—ñ –Ω–∞–º —Ä–æ–∑–º—ñ—Ç–∏—Å—Ç–∏ —â–µ –æ–¥–∏–Ω –º–∞–≥–∞–∑–∏–Ω.  
–ó–Ω–∞–π–¥—ñ—Ç—å –≤—ñ–¥–ø–æ–≤—ñ–¥—å –∑–∞ –¥–æ–ø–æ–º–æ–≥–æ—é —Ñ—É–Ω–∫—Ü—ñ–æ–Ω–∞–ª—É Pandas.

In [15]:
df.groupby('City')['gross income'].max()

City
Mandalay     48.69
Naypyitaw    49.65
Yangon       49.49
Name: gross income, dtype: float64

In [16]:
branches.max()

,Invoice ID,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
Branch,,,,,,,,,,,,,,,,
A,898-04-2717,Yangon,Normal,Male,Sports and travel,99.83,10,49.49,1039.29,3/9/2019,20:59,Ewallet,989.8,4.761905,49.49,10.0
B,895-66-0685,Mandalay,Normal,Male,Sports and travel,99.96,10,48.69,1022.49,3/9/2019,20:57,Ewallet,973.8,4.761905,48.69,10.0
C,894-41-5205,Naypyitaw,Normal,Male,Sports and travel,99.96,10,49.65,1042.65,3/9/2019,20:59,Ewallet,993.0,4.761905,49.65,10.0

–í—ñ–¥–ø–æ–≤—ñ–¥—å: —Ñ—ñ–ª—ñ–∞–ª –∑ –Ω–∞–π–≤–∏—â–∏–º –ø—Ä–∏–±—É—Ç–∫–æ–º –∑–Ω–∞—Ö–æ–¥–∏—Ç—å—Å—è —É –º—ñ—Å—Ç—ñ Naypyitaw. –Ø–∫ –±–∞—á–∏–º–æ –∑ —Ç–∞–±–ª–∏—Ü—ñ –≤–∏—â–µ, —Ü–µ —Ñ—ñ–ª—ñ–∞–ª C, —â–æ —Ç–∞–∫–æ–∂ –ø—ñ–¥—Ç–≤–µ—Ä–¥–∂—É—î —Ä–µ–∑—É–ª—å—Ç–∞—Ç, –æ—Ç—Ä–∏–º–∞–Ω–∏–π —É –∑–∞–≤–¥–∞–Ω–Ω—ñ 1.  
–î–∞–ª—ã —è –ø–æ—Ä–∞—Ö—É–≤–∞–ª–∞ –∫—ñ–ª—å–∫—ñ—Å—Ç—å —Ñ—ñ–ª—ñ–∞–ª—ñ–≤ —É –∫–æ–∂–Ω–æ–º—É –º—ñ—Å—Ç—ñ. –í–∏—è–≤–∏–ª–æ—Å—è, —â–æ —É –º—ñ—Å—Ç—ñ Naypyitaw, –¥–µ, –¥–æ —Ä–µ—á—ñ, –∑–Ω–∞—Ö–æ–¥–∏—Ç—å—Å—è —Ñ—ñ–ª—ñ–∞–ª –∑ –Ω–∞–π–≤–∏—â–∏–º –ø—Ä–∏–±—É—Ç–∫–æ–º, –Ω–∞–π–º–µ–Ω—à–µ —Ñ—ñ–ª—ñ–π. –¢–æ–º—É, –Ω–∞ –º—ñ–π –ø–æ–≥–ª—è–¥, —Ç–∞–º —Å–º—ñ–ª–∏–≤–æ –º–æ–∂–Ω–æ —Ä–æ–∑–º—ñ—Å—Ç–∏—Ç–∏ —â–µ –æ–¥–∏–Ω –º–∞–≥–∞–∑–∏–Ω.

In [21]:
Yangon_branches = df[df.City == 'Yangon'].Branch.value_counts()
Yangon_branches

Branch
A    340
Name: count, dtype: int64

In [22]:
Mandalay_branches = df[df.City == 'Mandalay'].Branch.value_counts()
Mandalay_branches

Branch
B    332
Name: count, dtype: int64

In [23]:
Naypyitaw_branches = df[df.City == 'Naypyitaw'].Branch.value_counts()
Naypyitaw_branches

Branch
C    328
Name: count, dtype: int64

3.1. –°—Ç–≤–æ—Ä—ñ—Ç—å –∑–≤–æ–¥–Ω—É —Ç–∞–±–ª–∏—Ü—é, —è–∫–∞ –ø–æ–∫–∞–∂–µ, —Å–∫—ñ–ª—å–∫–∏ –ø–æ–∫—É–ø–æ–∫ (—ñ–Ω–≤–æ–π—Å—ñ–≤) –±—É–ª–æ –∑—Ä–æ–±–ª–µ–Ω–æ –≤ –∫–æ–∂–Ω—ñ–π –∑ —Ñ—ñ–ª—ñ–π (`Branch`) –∑–∞ —Ä—ñ–∑–Ω–∏–º–∏ –∫–∞—Ç–µ–≥–æ—Ä—ñ—è–º–∏ —Ç–æ–≤–∞—Ä—ñ–≤. –ó–∞–ø–∏—à—ñ—Ç—å —Ç–∞–±–ª–∏—Ü—é –≤ –∑–º—ñ–Ω–Ω—É `invoices_by_category` —ñ –≤–∏–≤–µ–¥—ñ—Ç—å –∑–º—ñ–Ω–Ω—É –Ω–∞ –µ–∫—Ä–∞–Ω.
–¶—è —Ç–∞–±–ª–∏—Ü—è –¥–æ–ø–æ–º–æ–∂–µ –ø—Ä–æ–∞–Ω–∞–ª—ñ–∑—É–≤–∞—Ç–∏, –≤ —è–∫—ñ–π —Ñ—ñ–ª—ñ—ó –∫—É–ø—É—é—Ç—å –Ω–∞–π–±—ñ–ª—å—à–µ —Ç–æ–≤–∞—Ä—ñ–≤ –∫–æ–∂–Ω–æ—ó –∑ –∫–∞—Ç–µ–≥–æ—Ä—ñ–π.

In [45]:
df['Invoice'] = range(1,1001)
df['Invoice']

0         1
1         2
2         3
3         4
4         5
       ...
995     996
996     997
997     998
998     999
999    1000
Name: Invoice, Length: 1000, dtype: int64

In [57]:
invoices_by_category = df.pivot_table(index = 'Branch', columns = 'Product line', values = 'Invoice', aggfunc = "count")
invoices_by_category

Product line,Electronic accessories,Fashion accessories,Food and beverages,Health and beauty,Home and lifestyle,Sports and travel
Branch,,,,,,
A,60,51,58,47,65,59
B,55,62,50,53,50,62
C,55,65,66,52,45,45

–û—á—ñ–∫—É–≤–∞–Ω–∏–π —Ä–µ–∑—É–ª—å—Ç–∞—Ç:

![](https://drive.google.com/uc?export=view&id=1rueAdko6S3UxIHGtojetTxlES-EyM6Yb)

3.2. –í–∏–∫—Ä–∏—Å—Ç–æ–≤—É—é—á–∏ –∑–º—ñ–Ω–Ω—É `invoices_by_category` –¥–∞–π—Ç–µ –≤—ñ–¥–ø–æ–≤—ñ–¥—å –ø—Ä–æ–≥—Ä–∞–º–Ω–æ (—Ç–æ–±—Ç–æ –∑–Ω–∞—á–µ–Ω–Ω—è —Ç—Ä–µ–±–∞ –Ω–µ –ø—Ä–æ—Å—Ç–æ –∑–Ω–∞–π—Ç–∏ –æ—á–∏–º–∞, –∞ –≤–∏–≤–µ—Å—Ç–∏ –∑–∞ –¥–æ–ø–æ–º–æ–≥–æ—é –∫–æ–¥—É), –≤ —è–∫–æ–º—É —Ñ—ñ–ª—ñ–∞–ª—ñ –º–∞–≥–∞–∑–∏–Ω—É (`Branch`) –Ω–∞–π–±—ñ–ª—å—à–µ —ñ–Ω–≤–æ–π—Å—ñ–≤ —ñ–∑ –ø–æ–∫—É–ø–∫–æ—é —Ç–æ–≤–∞—Ä—ñ–≤ –∫–∞—Ç–µ–≥–æ—Ä—ñ—ó "–ï–ª–µ–∫—Ç—Ä–æ–Ω–Ω—ñ –∞–∫—Å–µ—Å—É–∞—Ä–∏" (`Electronic accessories`)?

In [58]:
max_invoices = invoices_by_category['Electronic accessories'].idxmax()
max_invoices

'A'

4-6. **–¢–≤–æ—Ä—á–µ –∑–∞–≤–¥–∞–Ω–Ω—è –Ω–∞ —Ä–æ–∑–≤–∏—Ç–æ–∫ –∞–Ω–∞–ª—ñ—Ç–∏—á–Ω–æ–≥–æ –º–∏—Å–ª–µ–Ω–Ω—è**

–ö—Ä–æ–∫ 1. –°—Ñ–æ—Ä–º—É–ª—é–π—Ç–µ –¢–†–ò –ø–∏—Ç–∞–Ω–Ω—è (–≥—ñ–ø–æ—Ç–µ–∑–∏) –¥–æ –Ω–∞—è–≤–Ω–∏—Ö –¥–∞–Ω–∏—Ö, —è–∫—ñ –¥–æ–ø–æ–º–æ–≥–ª–∏ –± –≤–∞–º –∑—Ä–æ–∑—É–º—ñ—Ç–∏, —è–∫—ñ –∫–æ—Ä–∏—Å—Ç—É–≤–∞—á—ñ —â–æ, –¥–µ —Ç–∞ –∫–æ–ª–∏ –Ω–∞–π–±—ñ–ª—å—à–µ/–Ω–∞–π–º–µ–Ω—à–µ –∫—É–ø—É—é—Ç—å, –∞–±–∏ –¥–∞—Ç–∏ –Ω–∞ –æ—Å–Ω–æ–≤—ñ —Ü–∏—Ö –≥—ñ–ø–æ—Ç–µ–∑ —Ä–µ–∫–æ–º–µ–Ω–¥–∞—Ü—ñ—ó –±—ñ–∑–Ω–µ—Å—É. –ó–≤—ñ—Å–Ω–æ –ø–∏—Ç–∞–Ω–Ω—è –º–∞—é—Ç—å –±—É—Ç–∏ –Ω–µ —Ç–∏–º–∏, –Ω–∞ —è–∫—ñ –º–∏ –≤–∂–µ –≤—ñ–¥–ø–æ–≤—ñ–ª–∏ –≤ –∑–∞–≤–¥–∞–Ω–Ω—è—Ö –º–æ–¥—É–ª—é.

–ö—Ä–æ–∫ 2. –ó–Ω–∞–π–¥—ñ—Ç—å –≤—ñ–¥–ø–æ–≤—ñ–¥—ñ –Ω–∞ —Å–≤–æ—ó –ø–∏—Ç–∞–Ω–Ω—è –∑ –¥–æ–ø–æ–º–æ–≥–æ—é —Ñ—É–Ω–∫—Ü—ñ–æ–Ω–∞–ª—É pandas.

–ö—Ä–æ–∫ 3. –ù–∞–ø–∏—à—ñ—Ç—å, —è–∫ –≤—ñ–¥–ø–æ–≤—ñ–¥—å –Ω–∞ —Ü–µ –ø–∏—Ç–∞–Ω–Ω—è –º–æ–∂–µ –±—É—Ç–∏ –≤–∏–∫–æ—Ä–∏—Å—Ç–∞–Ω–∞ –¥–ª—è –ø—Ä–∏–π–Ω—è—Ç—Ç—è –±—ñ–∑–Ω–µ—Å —Ä—ñ—à–µ–Ω—å.   
   
 –ü–∏—Ç–∞–Ω–Ω—è –º–æ–∂—É—Ç—å –±—É—Ç–∏ –±—É–¥—å-—è–∫–æ—ó —Å–∫–ª–∞–¥–Ω–æ—Å—Ç—ñ, –∞–ª–µ —ó—Ö –º–∞—î –±—É—Ç–∏ 3. –ö–æ–∂–Ω–µ –ø–∏—Ç–∞–Ω–Ω—è –æ—Ü—ñ–Ω—é—î—Ç—å—Å—è —è–∫ 1 –∑–∞–≤–¥–∞–Ω–Ω—è. –ë–µ–∑ –≤–∏–∫–æ–Ω–∞–Ω–Ω—è —Ü—å–æ–≥–æ –∑–∞–≤–¥–∞–Ω–Ω—è –î–ó –Ω–µ –ø—Ä–∏–π–º–∞—î—Ç—å—Å—è. –Ø–∫—â–æ —î –ø–∏—Ç–∞–Ω–Ω—è —â–æ–¥–æ –≤–∏–∫–æ–Ω–∞–Ω–Ω—è - –ø–∏—à—ñ—Ç—å —É —á–∞—Ç üôå

1. –Ø–∫–∞ –ª—ñ–Ω—ñ–π–∫–∞ –ø—Ä–æ–¥—É–∫—Ç—ñ–≤ (Product line) –¥–∞—î –Ω–∞–π–±—ñ–ª—å—à–∏–π —Å–µ—Ä–µ–¥–Ω—ñ–π —á–µ–∫ (Total) —É –∫–æ–∂–Ω–æ–º—É —Ñ—ñ–ª—ñ–∞–ª—ñ (Branch)?
   –í–∏–∑–Ω–∞—á–∏–≤—à–∏ –ª—ñ–Ω—ñ–π–∫–∏ –ø—Ä–æ–¥—É–∫—Ç—ñ–≤ –∑ –Ω–∞–π–≤–∏—â–∏–º —Å–µ—Ä–µ–¥–Ω—ñ–º —á–µ–∫–æ–º —É –∫–æ–∂–Ω–æ–º—É —Ñ—ñ–ª—ñ–∞–ª—ñ, –±—ñ–∑–Ω–µ—Å –º–æ–∂–µ —Å—Ñ–æ–∫—É—Å—É–≤–∞—Ç–∏ —Å–≤–æ—ó –º–∞—Ä–∫–µ—Ç–∏–Ω–≥–æ–≤—ñ –∑—É—Å–∏–ª–ª—è –Ω–∞ –ø—Ä–æ—Å—É–≤–∞–Ω–Ω—ñ —Ü–∏—Ö —Ç–æ–≤–∞—Ä—ñ–≤, –∞ —Ç–∞–∫–æ–∂ –ø–µ—Ä–µ–≥–ª—è–Ω—É—Ç–∏ —Ü—ñ–Ω–æ–≤—É  –ø–æ–ª—ñ—Ç–∏–∫—É —á–∏ –∞—Å–æ—Ä—Ç–∏–º–µ–Ω—Ç –¥–ª—è –ø—ñ–¥–≤–∏—â–µ–Ω–Ω—è –ø—Ä–æ–¥–∞–∂—ñ–≤ —É —ñ–Ω—à–∏—Ö –∫–∞—Ç–µ–≥–æ—Ä—ñ—è—Ö.

In [61]:
average_total_by_category_branch = df.pivot_table(index='Branch', columns='Product line', values='Total', aggfunc='mean')
average_total_by_category_branch

Product line,Electronic accessories,Fashion accessories,Food and beverages,Health and beauty,Home and lifestyle,Sports and travel
Branch,,,,,,
A,305.285225,320.245265,295.915526,268.037298,344.879931,328.350839
B,310.026245,264.730911,304.297770,376.993585,350.983290,322.390306
C,344.890445,331.693385,360.103864,319.525500,308.790067,350.265067

In [63]:
max_average_total_category_branch = average_check_by_category_branch.idxmax(axis=1)
max_average_total_category_branch

Branch
A    Home and lifestyle
B     Health and beauty
C    Food and beverages
dtype: object

2. –ß–∏ —î —Ä—ñ–∑–Ω–∏—Ü—è –≤ —Å–µ—Ä–µ–¥–Ω—å–æ–º—É —Ä–µ–π—Ç–∏–Ω–≥—É (Rating) –º—ñ–∂ —á–æ–ª–æ–≤—ñ–∫–∞–º–∏ (Gender) —Ç–∞ –∂—ñ–Ω–∫–∞–º–∏ –≤ –∫–æ–∂–Ω–æ–º—É —Ñ—ñ–ª—ñ–∞–ª—ñ (Branch)?
   –ß–æ–ª–æ–≤—ñ–∫–∏ —Ç–∞ –∂—ñ–Ω–∫–∏ –º–æ–∂—É—Ç—å –ø–æ-—Ä—ñ–∑–Ω–æ–º—É –æ—Ü—ñ–Ω—é–≤–∞—Ç–∏ —Å–≤—ñ–π –∑–∞–≥–∞–ª—å–Ω–∏–π –¥–æ—Å–≤—ñ–¥ –ø–æ–∫—É–ø–æ–∫. –í —Ç–∞–∫–æ–º—É –≤–∏–ø–∞–¥–∫—É –±—ñ–∑–Ω–µ—Å –º–æ–∂–µ —Ä–æ–∑–≥–ª—è–Ω—É—Ç–∏ –∑–∞–ø—Ä–æ–≤–∞–¥–∂–µ–Ω–Ω—è —è–∫–∏—Ö–æ—Å—å —Å–ø–µ—Ü—ñ–∞–ª—å–Ω–∏—Ö –ø—Ä–æ–≥—Ä–∞–º –¥–ª—è –ø—ñ–¥–≤–∏—â–µ–Ω–Ω—è —Ä–µ–π—Ç–∏–Ω–≥—É –∑–∞–¥–æ–≤–æ–ª–µ–Ω–Ω–æ—Å—Ç—ñ –∫–ª—ñ—î–Ω—Ç—ñ–≤ –ø–µ–≤–Ω–æ—ó —Å—Ç–∞—Ç—ñ.

In [64]:
average_rating_gender_branch = df.pivot_table(index='Branch', columns='Gender', values='Rating', aggfunc='mean')
average_rating_gender_branch

Gender    Female      Male
Branch
A       6.839130  7.196089
B       6.876543  6.762353
C       7.157865  6.972000

3. –Ø–∫–∏–π —Ç–∏–ø –∫–ª—ñ—î–Ω—Ç—ñ–≤ (Customer type) –Ω–∞–π—á–∞—Å—Ç—ñ—à–µ –∫—É–ø—É—î —Ç–æ–≤–∞—Ä–∏ –≤ –ø–µ–≤–Ω–∏—Ö –ª—ñ–Ω—ñ–π–∫–∞—Ö –ø—Ä–æ–¥—É–∫—Ç—ñ–≤ (Product line)?
 –¶–µ –¥–æ–∑–≤–æ–ª–∏—Ç—å —Å–µ–≥–º–µ–Ω—Ç—É–≤–∞—Ç–∏ –∫–ª—ñ—î–Ω—Ç—ñ–≤ —ñ —Å—Ç–≤–æ—Ä—é–≤–∞—Ç–∏ —Ü—ñ–ª—å–æ–≤—ñ –ø—Ä–æ–ø–æ–∑–∏—Ü—ñ—ó –¥–ª—è —Ä—ñ–∑–Ω–∏—Ö –∫–∞—Ç–µ–≥–æ—Ä—ñ–π —Ç–æ–≤–∞—Ä—ñ–≤. –ù–∞–ø—Ä–∏–∫–ª–∞–¥, –ø—Ä–æ–≥–∞–º–∏ –ª–æ—è–ª—å–Ω–æ—Å—Ç—ñ –¥–ª—è –∫–ª—ñ—î–Ω—Ç—ñ–≤ –∑ –∫–∞—Ä—Ç–∫–∞–º–∏ —Ç–æ—â–æ.

In [74]:
df.groupby(['Product line', 'Customer type'])['Invoice ID'].count().unstack().idxmax(axis=1)

Product line
Electronic accessories    Normal
Fashion accessories       Normal
Food and beverages        Member
Health and beauty         Normal
Home and lifestyle        Member
Sports and travel         Member
dtype: object